::-webkit-scrollbar {
    display: none;
}

/* FONTS */

@font-face {
    font-family: eurofurence;
    src: url(../fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}

/*-------*/

/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: lato, sans-serif;
    color: #626262;
    line-height: 1.25;
}

body {
    margin: 0;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a.active img {
    margin-left: 10px;
}


h2 {
    margin: 0 0 .833em;
    color: #4f4e4e;
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;

}

/**HEADER**/

header {
    height: 130px;
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #292929;
    color: #ffffff;
}

header .header-container {
    max-width: 980px;
    margin: auto;
}

.logo {
    font-family: eurofurence, sans-serif;
    font-size: 2.5rem;
    letter-spacing: -0.8px;
}

.logo span {
    color: #58c93a;
}

header ul {
    height: 130px;
}

header ul li {
    width: 132px;
    background-color: #292929;
    border: 1px solid #1d1d1d;
    border-top: 0;
    border-bottom: 0;
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

header ul li:hover {
    box-shadow: inset 0 -6px 0 #58c93a;
}

/* hamburger */
.menu-btn {
    display: none;
}

/* LAYOUT  */

main {
    max-width: 980px;
    border: 1px solid #e1e0e0;
    border-bottom: 0;
    margin: auto;
}

main article:first-child {
    margin-top: 80px;
}

main article {
    padding-bottom: 80px;
}

main article img {
    object-fit: contain;
}

main article div {
    margin: 0 43px;
}

main article div p {
    font-family: lato-bold;
}

main article div a {
    color: #c2c1c1;
    border: 2px solid #c2c2c2;
    padding: 9px 25px;
    border-radius: 25px;
}

main article div a:hover {
    border: 2px solid #58c93a;
    color: #58c93a !important;
    font-family: lato-bold, sans-serif;
}

main article div a:hover::after {
    content: url('../images/green_arrow.png');
    margin-left: 6px;
}


main article div a img {
    display: none;
}

/**MAIN PREV NEXT**/

.arrows-container {
    max-width: 980px;
    height: 75px;
    margin: auto;
}

.arrows {
    border-top: 1px solid #e1e0e0;
}

.arrows a span {
    margin: 0 6px;
}

.arrows a {
    color: #818181;
    font-size: 1.125rem;
    font-family: lato-bold, sans-serif;
}

.arrows a:hover {
    color: #585555;
    font-size: 1.2rem;
}

.arrows-container>a:first-child {
    margin-left: 2%;
}

.arrows-container>a:last-child {
    margin-right: 2%;
}

/**FOOTER .wrapper**/
footer {
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
}

footer .wrapper .logo {
    margin-top: 40px;
    margin-bottom: 32px;
}

footer .wrapper .copyrights {
    color: #a6a6a6;
    margin-bottom: 38px;
}

footer .wrapper .copyrights a {
    color: #a6a6a6;
    font-family: lato-bold, sans-serif;
}

footer .wrapper .socials {
    width: 230px;
}

footer .wrapper .socials img {
    padding: 16px;
    background-color: #948a8a;
}

footer .wrapper .socials img:first-child {
    padding: 16px 20px;
}

footer .wrapper .socials img:nth-child(1):hover {
    background-color: #516fad;
}

footer .wrapper .socials img:nth-child(2):hover {
    background-color: #1da0f2;
}

footer .wrapper .socials img:nth-child(3):hover {
    background-color: #2962ff;
}

footer .wrapper .socials img:nth-child(4):hover {
    background-color: #EA4C89;
}



/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.columns {
    flex-direction: column;
}

.flex-start {
    align-items: flex-start;
}

.flex.justify-content-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.container-bg {
    background-color: #f0f0f0;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* small breakpoint */
@media (max-width: 992px) {

    main article:first-child {
        margin-top: 30px;
    }

    .header-container {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    main article {
        margin: 0 20px 40px 20px;
    }

    main article div {
        margin: 0 15px;
    }

    .arrows-container {
        height: 55px;
    }
}

/* mobile breakpoint */
@media (max-width: 856px) {

    body.menu-open .main-screen {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgb(0 0 0 / 30%);
        cursor: pointer;

        transition: opacity .8s;
    }

    body.menu-open .main-screen {
        opacity: 1;
        visibility: visible;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -4px 0px 15px 0px #dcdcdc;
    }

    header .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        background-color: rgb(41 41 41 / 90%);
        transform: translateX(100%);
        box-shadow: none;
        transition: transform .8s, box-shadow .8s;
    }

    header {
        height: 100px;
    }

    header .header-container {
        height: 100px;
        justify-content: center;
    }

    header ul li {
        width: 40vw;
        height: 10vh;
    }



    header .menu-btn {
        display: block;
        outline: none;
        background-color: transparent;
        border: 1px solid #c2c1c1;
        color: #c2c1c1;
        padding: 6px 12px;
        border-radius: 3px;
        font-size: 1.25rem;
        margin-right: 4%;
    }


    main {
        border: none;
    }

    main article {
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 15px;
        box-shadow: 2px 8px 13px 0px #949393;

    }

    main article img,
    main article div {
        margin: 1% 3%;
    }

    main article a img {
        display: none;
    }

    footer .wrapper .copyrights {
        font-size: 0.75rem;
        text-align: center;
        margin: 20px 15px;
    }
}